# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go specific
*.o
*.a
*.stackdump

# Dependency directories (remove the ones you're not using)
vendor/
vendor.bak/
Godeps/
.github/
.idea/

# Output directories (remove the ones you're not using)
_bin/
_dist/
_release/
_docs/

# Project-specific
*.log

# macOS
.DS_Store

# Go modules
/go.sum

# Visual Studio Code
.vscode/

*.code-workspace
